
Project Music/.vs/ProjectEvaluation/projectmusic.metadata.v2
Project Music/.vs/ProjectEvaluation/projectmusic.projects.v2
Project Music/.vs/ProjectMusic/DesignTimeBuild/.dtbcache.v2
Project Music/.vs/ProjectMusic/FileContentIndex/5b1a6f27-7657-4041-97cd-7c04cf7d287e.vsidx
Project Music/.vs/ProjectMusic/FileContentIndex/read.lock
Project Music/.vs/ProjectMusic/v17/.futdcache.v1
Project Music/.vs/ProjectMusic/v17/.suo
